*{
	margin: 0;
	padding: 0;
}
.container{
	height: 489px;
	border: 1px solid #CBCBCB;
	margin: 5px 6px;
	-webkit-box-shadow: 1px 1px 4px 1px #CDCDCD;
	-moz-box-shadow: 1px 1px 4px 1px #CDCDCD;
	box-shadow: 1px 1px 4px 1px #CDCDCD;
}
.in_container{
	height: 377px;
	width: 478px;
}
.div_left,.menu_div,.margin_top,.div_btn,.in_container,.btn_align,.insert_image,.title_div,.menu_div div{
	float: left;
}
.insert_img{
	border: 9px solid transparent;
	margin: 3px 0;
	font: 19px sans-serif;
}
.insert_image{
    width: 650px;
    margin: 3px 0 0 8px;
    letter-spacing: -1.4px;
    word-spacing: -1px;
}
.close{
    height: 35px;
    width: 10px;
    float: right;
    margin: 2px 0 0;
    color: #CACFD9;
    font-size: 20px;
}
.text_url,.select_btn,.cancel_btn{
	border: 1px solid;
}
.menu_div{
    height: 440px;
    border-right: 1px solid #ECECEC;
	font: 12px Arial;
	letter-spacing: -1px;
}
.menu_div > div{
	padding: 5px 0 0;
}
.upload_div{
    height: 13px;
    border: 11px solid transparent;
    margin: 3px 0 0 2px;
}
.snapshot_div,.allbums_div{
	width: 108px;
	border-left: 10px solid transparent;
}
.allbums_div{
	height: 37px;
}
.snapshot_div{
	margin: 0 0 0 2px;
}
.url_div{
	color: #AE4847;
}
.url_span{
	font: bold 12px sans-serif;
	margin: 1px 0 0 8px;
}
.hr_label{
    border: 2px solid #D84A39;
    bottom: 5px;
    height: 23px;
}
.vertical_line{
    width: 114px;
    border-top: 1px solid #EFEFEF;
}
.search_div{
	margin: 11px 0 0 0;
}
.allbums_box{
	margin: 1px 0 0 1px;
}
.search_span{
    left: 2px;
}
.search_label,.vertical_line{
    margin: 1px 0 0 13px;
}
.search_text{
	height: 350px;
	width: 526px;
	border: 13px solid transparent;
}
.text_url{
    width: 357px;
    height: 20px;
	border-color: #D2D2D2;
}
.url_label{
	font: bold 11px sans-serif;
	margin: 0 0 0 3px;
	letter-spacing: -0.11px;
}
.div_btn{
	height: 40px; 
	width: 475px;
	border: 14px solid transparent;
	margin: 3px 0 0 0;
}
.hr_line{
    border-top: 1px solid;
    border-color: #E6E6E6;
}
.horizentol_div{
	width: 549px;
	border: 1px solid #F0F0F0;
}
.select_btn,.cancel_btn{	
	width: 58px;
    height: 26px;
	font-size: 10px;
    font-weight: bold;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.select_btn{
	margin: 0 1px 0 0;
	border-color: #A7BCF3 #BDCDEE #A4BADA #AABDED;
	color: #fff;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #A4C6F6),
	color-stop(1, #A2C9FF),
	color-stop(1, #A2C9FF)
);
background-image: -webkit-linear-gradient(bottom, #A4C6F6 0%, #A2C9FF 100%, #A2C9FF 100%);
background-image: -moz-linear-gradient(bottom, #A4C6F6 0%, #A2C9FF 100%, #A2C9FF 100%);
background-image: linear-gradient(to bottom, #A4C6F6 0%, #A2C9FF 100%, #A2C9FF 100%);
}
.cancel_btn{
	margin: 0 0 0 7px;
	border-color: #DADADA #DADADA #DCDCDC #DADADA;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F5F5F5),
	color-stop(1, #F2F2F2),
	color-stop(1, #F4F4F4)
);
background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #F2F2F2 100%, #F4F4F4 100%);
background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #F2F2F2 100%, #F4F4F4 100%);
background-image: linear-gradient(to bottom, #F5F5F5 0%, #F2F2F2 100%, #F4F4F4 100%);
}
.btn_align,.insert_img{
    height: 25px;
}
.title_div,.insert_image,.url_div,.search_div,.snapshot_div{
    height: 22px;
}
.url_div,.search_div{
	width: 135px;
	background-color: #EEEEEE;
}
.btn_align,.allbums_div{
	margin: 1px 0 0 2px;
}
.search_span,.hr_label{
    position: relative;
}
.insert_img,.title_div{
	width: 677px;
}
.btn_align,.menu_div{
    width: 144px;
}
.hr_line,.container{
    width: 697px;
}