*
{
	margin:0;
	padding:0;
}
.container{
	height: 208px;
	border: 3px solid;
	border-color: #005CD5 #0021AA #1E45AC #003AC9;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	margin: 5px 0 0 5px;
	background: #EAE9D5;
}
.sub_container{
    height: 182px;
}
.title_bar_div{
	color: #fff;
	height: 26px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,rgba(0,83,223,1)), 
	color-stop(68%,rgba(0,105,251,1)), color-stop(92%,rgba(0,108,254,1)), 
	color-stop(99%,rgba(125,185,232,1)), color-stop(99%,rgba(125,185,232,1)), 
	color-stop(100%,rgba(125,185,232,1)), color-stop(100%,rgba(125,185,232,1)), 
	color-stop(100%,rgba(125,185,232,1)));
	background: -moz-linear-gradient(top, 
	rgba(0,83,223,1) 36%, 
	rgba(0,105,251,1) 68%, rgba(0,108,254,1) 92%,
	rgba(125,185,232,1) 99%, rgba(125,185,232,1) 99%,
	rgba(125,185,232,1) 100%, rgba(125,185,232,1) 100%, 
	rgba(125,185,232,1) 100%);				
	background: linear-gradient(to bottom, 
	rgba(0,83,223,1) 36%,rgba(0,105,251,1) 68%,
	rgba(0,108,254,1) 92%,rgba(125,185,232,1) 99%,
	rgba(125,185,232,1) 99%,rgba(125,185,232,1) 100%,
	rgba(125,185,232,1) 100%,rgba(125,185,232,1) 100%);
}
.ins_obj_div{
    font: bold 13px Arial;
    height: 20px;
    width: 100px;
    margin: 6px 0 0 4px;
}
.close_div{
    margin: 2px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,rgba(247,111,94,1)), 
color-stop(16%,rgba(247,111,94,1)), 
color-stop(75%,rgba(242,101,50,1)), 
color-stop(75%,rgba(242,101,50,1)));
background: -moz-linear-gradient(top, rgba(247,111,94,1) 16%, 
rgba(247,111,94,1) 16%, 
rgba(242,101,50,1) 75%, 
rgba(242,101,50,1) 75%);
background: linear-gradient(to bottom, rgba(247,111,94,1) 16%,
rgba(247,111,94,1) 16%,
rgba(242,101,50,1) 75%,
rgba(242,101,50,1) 75%);
}
.question_mark,.close_div,.textaria_div,.type_btn,.new_btn,.blk_close_btn{
    border: 1px solid;
}
.new_btn{
	outline:1px dotted black;
	outline-offset:-3px;
	text-align:center;
	border: 1px solid #003C74;
	color: #000;
}
.close_label{
    font: 27px Arial;
    margin: 0 0 4px 2px;
    height: 18px;
    width: 18px;
    position: relative;
    bottom: 5px;
}
.show_div,.question_mark,.close_div{
	float: right;
}
.question_mark,.close_div{
	height: 19px;
    width: 19px;
}
.question_mark{
	margin: 2px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(35%,rgba(80,125,250,1)), color-stop(35%,rgba(80,125,250,1)),
	color-stop(37%,rgba(80,125,250,1)), color-stop(61%,rgba(21,111,249,1)));
	background: -moz-linear-gradient(top, rgba(80,125,250,1) 35%, 
	rgba(80,125,250,1) 35%, rgba(80,125,250,1) 37%,
	rgba(21,111,249,1) 61%);
	background: linear-gradient(to bottom, rgba(80,125,250,1) 35%,
	rgba(80,125,250,1) 35%,
	rgba(80,125,250,1) 37%,
	rgba(21,111,249,1) 61%);
}
.qus_label{
    font: bold 18px Arial;
    margin: 0 0 0 4px;
}
.custom_div ,.clos_btn,.div_btn,.ins_obj_div{
	float: left;
}
.custom_div,.custom_show{
   width: 248px;
}
.custom_div{
    border: 6px solid transparent;
    height: 140px;
}
.custom_show{
    height: 15px;
	margin: 1px 0 1px;
}
.textaria_div{
	width: 243px; 
	height: 119px;
	border-color: #7F9DB9;
	background: #fff;
}
.div_btn{
    height: 130px;
    width: 74px;
    margin: 8px 0 0 1px;
}
.div_btn > div{
    height: 30px;
}
.type_btn{
	border-color: #C9C7BA;
	background: #F5F4EA;
	color: #A1A192;
}
.close_btn{
    clear: both;
    border: 1px solid transparent;
    height: 27px;
    width: 333px;
}
.show_div{
    width: 157px;
    height: 25px;
}
.show_btn{
    float: inherit;
}
.blk_close_btn{	
	outline: none;
	border-color: #003C74;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefc), color-stop(24%,#f6f7f2), 
	color-stop(71%,#eff0ea), color-stop(82%,#eff0ea), color-stop(88%,#ebece6), color-stop(94%,#e3e0d7), 
	color-stop(100%,#d5d1c6));
	background: -moz-linear-gradient(top, #fefefc 0%, #f6f7f2 24%, #eff0ea 71%, #eff0ea 82%, #ebece6 88%, #e3e0d7 94%, #d5d1c6 100%);
	background: linear-gradient(to bottom, #fefefc 0%,#f6f7f2 24%,#eff0ea 71%,#eff0ea 82%,#ebece6 88%,#e3e0d7 94%,#d5d1c6 100%);
}
button[type="button"]{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FCFCFB),
		color-stop(0.92, #ECEBE6),
		color-stop(1, #F6F6F2),
		color-stop(1, #F3F3EF),
		color-stop(1, #F1F1ED),
		color-stop(1, #F0F0EB)
	);
	background-image: -webkit-linear-gradient(bottom, #FCFCFB 0%, #ECEBE6 92%, #F6F6F2 100%, #F3F3EF 100%, #F1F1ED 100%, #F0F0EB 100%);
	background-image: -moz-linear-gradient(bottom, #FCFCFB 0%, #ECEBE6 92%, #F6F6F2 100%, #F3F3EF 100%, #F1F1ED 100%, #F0F0EB 100%);
	background-image: linear-gradient(to bottom, #FCFCFB 0%, #ECEBE6 92%, #F6F6F2 100%, #F3F3EF 100%, #F1F1ED 100%, #F0F0EB 100%);
}
button[type="button"]:focus{
	-webkit-box-shadow:inset 0 -1px 0 0 #6982EE, inset 0 -2px 0 0 #89ADE4, inset 0 1px 0 0 #CEE7FF, inset 0 2px 0 0 #BCD4F6, inset 1px 0 0 0 #9CBBEA,inset 2px 0 0 0 #A8C6F0,inset -1px 0 0 0 #99B8EA,inset -2px 0 0 0 #A1BEEC;
	-moz-box-shadow:inset 0 -1px 0 0 #6982EE, inset 0 -2px 0 0 #89ADE4, inset 0 1px 0 0 #CEE7FF, inset 0 2px 0 0 #BCD4F6, inset 1px 0 0 0 #9CBBEA,inset 2px 0 0 0 #A8C6F0,inset -1px 0 0 0 #99B8EA,inset -2px 0 0 0 #A1BEEC;
	box-shadow:inset 0 -1px 0 0 #6982EE, inset 0 -2px 0 0 #89ADE4, inset 0 1px 0 0 #CEE7FF, inset 0 2px 0 0 #BCD4F6, inset 1px 0 0 0 #9CBBEA,inset 2px 0 0 0 #A8C6F0,inset -1px 0 0 0 #99B8EA,inset -2px 0 0 0 #A1BEEC;
}
.container,.title_bar_div,.sub_container{
	width: 341px;
}
.div_btn > div,.blk_close_btn,.new_btn,.type_btn{
	width: 73px;
}
button[type="button"],.question_mark,.close_div,.type_btn,.new_btn,.blk_close_btn{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.container,.type_btn,.new_btn,.blk_close_btn{
	font: 11px Arial;
}
.blk_close_btn,button[type="button"]{
    height: 21px;
}