*
{
	margin:0;
	padding:0;
}
.container{
	height: 260px;
	border: 3px solid;
	border-color: #005CD5 #0021AA #1E45AC #003AC9;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	margin: 5px 0 0 6px;
	background: #EAE9D5;
}
.title_bar_div{
	color: #fff;
	height: 26px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,rgba(0,83,223,1)), 
	color-stop(68%,rgba(0,105,251,1)), color-stop(92%,rgba(0,108,254,1)), 
	color-stop(99%,rgba(125,185,232,1)), color-stop(99%,rgba(125,185,232,1)), 
	color-stop(100%,rgba(125,185,232,1)), color-stop(100%,rgba(125,185,232,1)), 
	color-stop(100%,rgba(125,185,232,1)));
	background: -moz-linear-gradient(top, 
	rgba(0,83,223,1) 36%, 
	rgba(0,105,251,1) 68%, rgba(0,108,254,1) 92%,
	rgba(125,185,232,1) 99%, rgba(125,185,232,1) 99%,
	rgba(125,185,232,1) 100%, rgba(125,185,232,1) 100%, 
	rgba(125,185,232,1) 100%);
	background: linear-gradient(to bottom, 
	rgba(0,83,223,1) 36%,rgba(0,105,251,1) 68%,
	rgba(0,108,254,1) 92%,rgba(125,185,232,1) 99%,
	rgba(125,185,232,1) 99%,rgba(125,185,232,1) 100%,
	rgba(125,185,232,1) 100%,rgba(125,185,232,1) 100%);
}
.question_mark,.close_div,.ok_btn,.cancel_btn,input[type="checkbox"] {
	border: 1px solid;
}
.select_label,.bkg_color{
	border: 1px dotted #546271;
	background: #ACC4E6;
}
.ins_obj_div,.radio_div,.select_type,.ins_image,.scroll_div,.text_span{
	float: left;
}
.btn_div,.question_mark,.close_div{
	float: right;
}
.ins_obj_div{
	font: bold 13px Arial;
	margin: 6px 0 0 4px;
}
.close_div{
	margin: 2px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,rgba(247,111,94,1)), 
	color-stop(16%,rgba(247,111,94,1)), 
	color-stop(75%,rgba(242,101,50,1)), 	
	color-stop(75%,rgba(242,101,50,1)));
	background: -moz-linear-gradient(top, rgba(247,111,94,1) 16%, 
	rgba(247,111,94,1) 16%, 
	rgba(242,101,50,1) 75%, 
	rgba(242,101,50,1) 75%);	
	background: linear-gradient(to bottom, rgba(247,111,94,1) 16%,
	rgba(247,111,94,1) 16%,
	rgba(242,101,50,1) 75%,
	rgba(242,101,50,1) 75%);
}
.close_label{
	font: 27px Arial;
	margin: 0 0 4px 2px;
	bottom: 5px;
}
.question_mark,.close_div{
	height: 19px;
	width: 19px;
}
.question_mark{
	margin: 2px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(35%,rgba(80,125,250,1)), color-stop(35%,rgba(80,125,250,1)),
	color-stop(37%,rgba(80,125,250,1)), color-stop(61%,rgba(21,111,249,1)));
	background: -moz-linear-gradient(top, rgba(80,125,250,1) 35%, 
	rgba(80,125,250,1) 35%, rgba(80,125,250,1) 37%,
	rgba(21,111,249,1) 61%);
	background: linear-gradient(to bottom, rgba(80,125,250,1) 35%,
	rgba(80,125,250,1) 35%,
	rgba(80,125,250,1) 37%,
	rgba(21,111,249,1) 61%);
}
.qus_label{
	font: bold 18px Arial;
}
.radio_div{
	width: 98px;
	border: 6px solid transparent;
	border-top: 22px solid transparent;
}
input[type="radio"]:checked:after {
	background: #139210;
	height: 5px;
	left: 3px;
	width: 5px;
	top: 3px;
}
input[type="radio"] {
	border: 1px solid #215481;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(8%,#f4f9f9), color-stop(8%,#f4f9f9), color-stop(99%,#e9eae5), color-stop(100%,#f4f5f9), color-stop(100%,#e9eae5), color-stop(100%,#f1f2ed));
	background: -moz-radial-gradient(center, ellipse cover, #f4f9f9 8%, #f4f9f9 8%, #e9eae5 99%, #f4f5f9 100%, #e9eae5 100%, #f1f2ed 100%);
	background: radial-gradient(ellipse at center, #f4f9f9 8%,#f4f9f9 8%,#e9eae5 99%,#f4f5f9 100%,#e9eae5 100%,#f1f2ed 100%);
}
input[type="radio"] ,input[type="radio"]:checked:after {
	-webkit-border-radius: 50px;
	-moz-border-radius:50px;
	border-radius: 50px;
}
.top_div{
	height: 8px;
}
.select_type{
	height: 134px;
	width: 284px;
}
.object_label{
	margin: 8px 0 0;
	height: 12px;
	width: 250px;
}
.div_select{
	height: 112px;
	width: 286px;
	margin: 3px 0 0;
}
.scroll_div,.manage_select{
	border: 1px solid #7F9DB9;
}
.manage_select{
	background: #fff;
}
.manage_select > div{
	border-left: 2px solid transparent;
}
.scroll_div{
	width: 17px;
	margin: 15px 0 0 0;
	background: url('css_screen6_image/scroll.jpg');
	border-left: transparent;
}
.bkg_color{
	margin: 1px 0 0 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn_div{
	height: 120px;
}
.ok_btn,.cancel_btn,.container,.div_chk{
	font: 11px Arial;
}
.ok_btn,.cancel_btn{
	border-color: #485E71 #21343C #5C6982 #242E41;
	background: #F2F1EC;
	-webkit-box-shadow: 1px 1px 2px #B1CFE4;
	-moz-box-shadow: 1px 1px 2px #B1CFE4;
	box-shadow: 1px 1px 2px #B1CFE4;
}
.div_chk{
    right: 1px;
}
input[type="checkbox"] {
	border-color: #1C5180;
	height: 14px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadbd5), color-stop(0%,#dcddd7), color-stop(16%,#ededeb), color-stop(100%,#f1f1ef));
	background: -moz-linear-gradient(top, #dadbd5 0%, #dcddd7 0%, #ededeb 16%, #f1f1ef 100%); 
	background: linear-gradient(to bottom, #dadbd5 0%,#dcddd7 0%,#ededeb 16%,#f1f1ef 100%);
	}
input[type="checkbox"]:checked:after{
	background: url(chk_img/chk.png)  0 0 / 20px;
	width: 21px;
	bottom: 6px;
	right: 5px;
}
.div_fieldset{
	border: 1px solid transparent;
	clear: both;
	width: 420px;
}
.result_field{
	width: 398px;
	height: 90px;
	border: 1px solid #D0D0BF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 0 0 6px;
}
.res_legend{
	color: #006CE0;
}
.ins_image{
	width: 60px;
	margin: 1px 0 0;
	height: 45px;
}
.doc_image{
	height: 35px;
	width: 43px;
	background: url(css_screen6_image/new_insert.jpg);
}
.image_div{
	border: 8px solid transparent;
	height: 62px;
	border-left: 1px solid transparent;
}
.text_span{
	width: 291px;
	font-family: Californian FB;
    font-size: 12px;
	margin: 0 0 0 2px;
}
button[type="button"]{
	border: 1px solid #003C74;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FCFCFB),
		color-stop(0.92, #ECEBE6),
		color-stop(1, #F6F6F2),
		color-stop(1, #F3F3EF),
		color-stop(1, #F1F1ED),
		color-stop(1, #F0F0EB)
	);
	background-image: -webkit-linear-gradient(bottom, #FCFCFB 0%, #ECEBE6 92%, #F6F6F2 100%, #F3F3EF 100%, #F1F1ED 100%, #F0F0EB 100%);
	background-image: -moz-linear-gradient(bottom, #FCFCFB 0%, #ECEBE6 92%, #F6F6F2 100%, #F3F3EF 100%, #F1F1ED 100%, #F0F0EB 100%);
	background-image: linear-gradient(to bottom, #FCFCFB 0%, #ECEBE6 92%, #F6F6F2 100%, #F3F3EF 100%, #F1F1ED 100%, #F0F0EB 100%);
	-webkit-box-shadow:inset 0 -1px 0 0 #D6D0C5, inset 0 -2px 0 0 #E2DFD6, inset 0 -3px 0 0 #ECEBE6;
	-moz-box-shadow:inset 0 -1px 0 0 #D6D0C5, inset 0 -2px 0 0 #E2DFD6, inset 0 -3px 0 0 #ECEBE6;
	box-shadow:inset 0 -1px 0 0 #D6D0C5, inset 0 -2px 0 0 #E2DFD6, inset 0 -3px 0 0 #ECEBE6;
}
button[type="button"]:focus{
	-webkit-box-shadow:inset 0 -1px 0 0 #6982EE, inset 0 -2px 0 0 #89ADE4, inset 0 1px 0 0 #CEE7FF, inset 0 2px 0 0 #BCD4F6, inset 1px 0 0 0 #9CBBEA,inset 2px 0 0 0 #A8C6F0,inset -1px 0 0 0 #99B8EA,inset -2px 0 0 0 #A1BEEC;
	-moz-box-shadow:inset 0 -1px 0 0 #6982EE, inset 0 -2px 0 0 #89ADE4, inset 0 1px 0 0 #CEE7FF, inset 0 2px 0 0 #BCD4F6, inset 1px 0 0 0 #9CBBEA,inset 2px 0 0 0 #A8C6F0,inset -1px 0 0 0 #99B8EA,inset -2px 0 0 0 #A1BEEC;
	box-shadow:inset 0 -1px 0 0 #6982EE, inset 0 -2px 0 0 #89ADE4, inset 0 1px 0 0 #CEE7FF, inset 0 2px 0 0 #BCD4F6, inset 1px 0 0 0 #9CBBEA,inset 2px 0 0 0 #A8C6F0,inset -1px 0 0 0 #99B8EA,inset -2px 0 0 0 #A1BEEC;
}
input[type=text], button[type="button"]:focus{
	outline: 0;
}
.container,.title_bar_div,.top_div{
	width: 519px;
}
.ins_obj_div,.create_radio,.btn_div{
	width: 100px;
}
.manage_select,.manage_select > div,.select_label{
	width: 283px;
}
.btn_box1,.btn_box2,.ok_btn,.cancel_btn{
	width: 89px;
}
.btn_box2{
	height: 46px;
}
.ins_obj_div,.create_radio{
	height: 20px;
}
.radio_div,.div_fieldset{
	height: 92px;
}
.manage_select > div,.select_label,input[type="radio"] {
	height: 13px;
}
.manage_select,.scroll_div{
	height: 107px;
}
.btn_box1,.text_span{
    height: 30px;
}
.ok_btn,.cancel_btn,.div_chk,input[type="checkbox"]:checked:after{
	height: 21px;
}
.question_mark,.close_div,.ok_btn,.cancel_btn,button[type="button"]{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn_box1,.btn_box2,.div_chk,.qus_label{
    margin: 0 0 0 4px;
}
.close_label,input[type="radio"]:checked:after ,input[type="radio"] ,input[type="checkbox"] ,.div_chk,input[type="checkbox"]:checked:after{
	position: relative;
}
.div_fieldset,.ins_image{
	border-left: 6px solid transparent;
}
input[type="checkbox"]:checked:after,input[type="radio"]:checked:after {
	display: block;
	content: '';
}
input[type="checkbox"],input[type="radio"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	outline:0;
	width: 13px;
	top: 2px;
}